@import "../base/variables";

.card {
    padding: 32px 49px 28px 32px;
    background: $color-text-white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    font-family: 'Roboto-regular', sans-serif;
    line-height: 24px;
    color: $color-faq-title;

    &__title {
        margin-bottom: 30px;
        font-size: 18px;
    }

    &__time {
        font-size: 16px;

        .icon {
            margin-right: 6px;
            fill: none;
            stroke: #6a677b;
        }
    }

    &:hover,
    &:focus {
        background: $color-product-bcg;
        color: $color-text-white;

        & > div {
            color: $color-text-white;
        }

        &  svg {
            stroke: #fff;
            fill: none;
        }
    }
}
