@import "../base/variables";

.scroll-up {
    visibility: hidden;
    font-size: 12px;
    line-height: 14px;
    color: $color-scroll-up-bcg;
    font-family: 'Roboto-medium', sans-serif;

    &__button {
        width: 40px;
        height: 40px;
        background-color: $color-scroll-up-bcg;
        border-radius: 100%;
        border: 1px solid $color-scroll-up-bcg;
        margin-bottom: 10px;
    }

    &.active {
        z-index: 12;
        visibility: visible;
        position: fixed;
        right: 2%;
        bottom: 60px;
    }
}
